body{
    background: tan
}

#box{
    display: flex;
    flex-direction: column;
    align-content: flex-end;

}
#chat{
    background: tan;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.container{
    display: flex;
}
.container div {
    border: solid goldenrod 1px

}
#chat-name{
    text-decoration: underline;
    position: relative;
    left: 180px;
}
.no-response{
    color: red;
}
#sidebar-div{
    background:royalblue;
    flex: 1;
    height: 600px;
}
#list-div{
    background: whitesmoke;
    flex: 2;
}
.top{
    flex: 1;
    height: 70%;
}
.bottom{
    flex: 1;
}
/* #list {
    display: flex;
    margin-top: 10px;
    flex-direction: column;

} */
#row{
    display: flex;
}
#main-input{
    line-height: 6em;
    margin-left: 280px;
}

.myMessage{
    position: relative;
    left: 400px;
    padding-top: 10px;
    color: darkslategray;
    flex: 1;
    font-size: xx-large;
    text-decoration: double;
}
.theirMessage {
    justify-self: left;
    color: teal;
    flex: 1;
    font-size: xx-large;
    text-decoration: double;
}
.neutral{
    position: relative;
    left: 150px;
}