#chat-body{
    background: black;
}

#box{
    display: flex;
    flex-direction: column;
    align-content: flex-end;

}
.bottom{
    background-color: lightgrey;
    border: black solid 3px;
}
#chat{
    background: rgb(223, 223, 196);
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-self: center;
    border: lightslategray solid 2px;
}
.container{
    display: flex;
}
.container div {
    border: solid goldenrod 1px

}
#chat-name{
    text-decoration: underline;
    position: relative;
    left: 180px;
}
.no-response{
    color: red;
}
#sidebar-div{
    background:royalblue;
    flex: 0.5;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#list-div{
    background:lightgray;
    flex: 2;
}
.top{
    flex: 1;
    height: 70%;
}
.bottom{
    flex: 1;
}
#list {
    position: relative;
    top: 100px;
    left: 95px;

    /* border: black 2px solid; */
 
}
#online{
    position: relative;
    left: 350px;
}
#row{
    display: flex;
}
#main-input{
    line-height: 6em;
    margin-left: 280px;
    border: solid black 2px;
}
/* #messages {
    border: solid slategray 2px;
} */
.myMessage{
    position: relative;
    left: 400px;
    padding-top: 4px;
    color: darkslategray;
    flex: 1;
    font-size: xx-large;
    text-decoration: double;
}
#outer-container {
    background: whitesmoke;
}
.theirMessage {
    justify-self: left;
    color: teal;
    flex: 1;
    font-size: xx-large;
    text-decoration: double;
}
.neutral{
    position: relative;
    left: 150px;
}
#nav {
    background: lightslategray;
    flex: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#status{
    text-decoration: underline;
}
.top{
    flex: 3;
}
#title{
    text-shadow: lavender;
}
#user-from{
    background: lightcyan
}